extends layout

block content
  .container-fluid
    br
    br
    br
    
    h2 Create New Book
   
    hr 
    br
    .row
        .col-md-4
            form(method='post' action='')
                .form-group
                    label Book Company Name:
                    input.form-control(type='text' name='name'  placeholder='Enter Company Name' required)
                .form-group
                    label Author Name:
                    input.form-control(type='text' name='author'  placeholder='Enter author Name' )
                .form-group
                    label Price :
                    input.form-control(type='text' name='price'  placeholder='Enter Price' )
                .form-group
                    label Genre :
                    input.form-control(type='text' name='genre'  placeholder='Enter genre' )
                .form-group
                    label Genre :
                    input.form-control(type='text' name='image'  placeholder='Enter imaage URL' )
               
                br
                button.btn.btn-success(type='submit') Submit

