//- extends layout

block content
  
  app-home-list
  p hello

  section.hero

    h1
      span BOOKIN
    h2.
      The new years sale is up, grab the offers before they run out.



  section.section
    .wrapper   

      //- Box Grid
      .box__grid
      
        //- BOX       
        article.box
          a.box__content(href="#")
         
            h3.box__title Shop Online & Pick Up Today
            p. 
              Free pickup in store in as little as 3 hours. Contactless curbside pickup available at most locations.
              
        //- BOX       
        article.box
          a.box__content(href="#")
     
            h3.box__title 30 days FREE return policy
            p you can always return the book back to us if you feel it is damaged or torn.
            
          //- BOX             
        article.box
          a.box__content(href="#")

            h3.box__title Best deals and offers
            p. 
              Grab our best books at the best deals and offers.
      



//- //- author - Zhoha Damani
//- //- 
//- //- Student Id- 8730121