<app-header></app-header>

<section class="hero">
  <div class="container">
<div class="hero__items set-bg" data-setbg="assets/img/hero/hero-1.jpg">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="hero__text">
                          <div class="label">BEST SELLER</div>
                          <h2>Cyberpunk 2077</h2>
                          <p>Cyberpunk 2077 is an action role-playing video game developed and published by CD Projekt. The story takes place in Night City, an open world set in the Cyberpunk universe.</p>
                          <a href="#"><span>View Now</span> <i class="fa fa-angle-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

</section>




<app-display-games></app-display-games>
    <app-footer></app-footer>